body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1350px;
  //   border: 1px solid #000;
  font-family: sans-serif;
}
header {
  nav {
    background-color: #000;
    border-radius: 12px;
    ul {
      align-items: center;
      height: 50px;
      display: flex;
      justify-content: space-around;
      li a:focus {
        color: red;
        border-bottom: 1px solid #fff;
      }
      li {
        img {
          width: 80px;
          height: 30px;
          border-radius: 15px;
        }
        list-style: none;
        a {
          color: gray;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  body {
    width: 380px;
    header {
      margin: 0 auto;
      nav {
        li {
          img {
            margin-top: 10px;
            margin-left: -25px;
          }
          a {
            gap: 5px;
            font-size: 10px;
          }
        }
        width: 380px;
      }
    }
  }
}
